# Google Cloud TTS Credentials
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_CLIENT_EMAIL=
GOOGLE_CLOUD_PRIVATE_KEY=

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=

# Firebase Admin (Optional for local, but needed for production webhooks)
# FIREBASE_SERVICE_ACCOUNT_JSON=
